/* https://www.colourlovers.com/palette/1689724/%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F */

:root{
    --colour-1: #2D1B33;
    --colour-2: #F36A71;
    --colour-3: #EE887A;
    --colour-4: #E4E391;
    --colour-5: #9ABC8A;
}